# dependências
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# produção
/build

# ambiente
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# docker volumes locais (caso mapeados)
/data
